<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAddressLabel" jhiTranslate="blogApp.address.home.createOrEditLabel">Create or edit a Address</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!address.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="address.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="blogApp.address.idaddress" for="field_idaddress">Idaddress</label>
            <input type="number" class="form-control" name="idaddress" id="field_idaddress"
                [(ngModel)]="address.idaddress" required />
            <div [hidden]="!(editForm.controls.idaddress?.dirty && editForm.controls.idaddress?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.idaddress?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.idaddress?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="blogApp.address.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="address.address" required />
            <div [hidden]="!(editForm.controls.address?.dirty && editForm.controls.address?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.address?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="blogApp.address.number" for="field_number">Number</label>
            <input type="number" class="form-control" name="number" id="field_number"
                [(ngModel)]="address.number" required />
            <div [hidden]="!(editForm.controls.number?.dirty && editForm.controls.number?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.number?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.number?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="blogApp.address.cp" for="field_cp">Cp</label>
            <input type="number" class="form-control" name="cp" id="field_cp"
                [(ngModel)]="address.cp" required />
            <div [hidden]="!(editForm.controls.cp?.dirty && editForm.controls.cp?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cp?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.cp?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
