
<div *ngIf="person">
    <h2><span jhiTranslate="blogApp.person.detail.title">Person</span> {{person.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="blogApp.person.idperson">Idperson</span></dt>
        <dd>
            <span>{{person.idperson}}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.person.fname">Fname</span></dt>
        <dd>
            <span>{{person.fname}}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.person.lname">Lname</span></dt>
        <dd>
            <span>{{person.lname}}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.person.addressPerson">Address Person</span></dt>
        <dd>
            <div *ngIf="person.addressPerson">
                <a [routerLink]="['/address', person.addressPerson?.id]">{{person.addressPerson?.address}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="blogApp.person.bank">Bank</span></dt>
        <dd>
            <div *ngIf="person.bank">
                <a [routerLink]="['/bank', person.bank?.id]">{{person.bank?.bankname}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'person/'+ person.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
